/* HOMEPAGE BACKGROUND IMAGE STYLE */
.homepage-web-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('/src/assets/somm-homepage-hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.homepage-title {
  font-size: 4rem;
  font-weight: 700;
  color: #fafafa;
  text-align: center;
  margin: -1rem 0 0.05rem;
}

.homepage-subtitle {
  font-size: 1.3rem;
  color: #fafafa;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.4rem;
  max-width: 400px;
  line-height: 1.2;
}

/* HOMEPAGE BUTTON LAYOUT */
.homepage-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7rem;
  max-width: 400px;
  width: 100%;
}

/* Footer Styles */
.footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #fafafa;
}

.footer a {
  color: #fafafa;
  text-decoration: none;
  padding: 0 0.5rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-divider {
  color: #fafafa;
}

/* Hide footer on mobile */
.desktop-only {
  display: none;
}

/* Mobile Responsive */
@media (max-width: 500px) {
  .homepage-title {
    font-size: 3.3rem;
  }
  
  .homepage-subtitle {
    font-size: 1.1rem;
    max-width: 330px;
    min-width: 280px;
  }
  
  .homepage-button {
    width: 100%;
  }
  
  .homepage-button-group {
    max-width: 100%;
    padding: 0 1rem;
    margin-bottom: 80px;
    box-sizing: border-box;
  }
  
  .homepage-web-container {
    justify-content: flex-start;
    padding-top: 7vh;
    padding-bottom: 2rem;
    transform: none;
    height: auto;
    min-height: 100vh;
  }
}

/* Desktop Responsive */
@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
  
  .desktop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 800px;
    width: 100%;
  }
}