@import "./components/_bottom-nav.css";
@import "./components/_accordion.css";
@import "./components/_buttons.css";
@import "./components/_header.css"; 
@import "./base/_variables.css";
@import "./base/_global.css";
@import "./pages/_homepage.css";
@import "./pages/_wines-page.css";
@import "./pages/_about-page.css";
@import './components/_desktopfooter.css';
